:root {
  //COLOR YELLOW
  --color-yellow: hsl(56, 99%, 52%);
  --color-yellow-dark: hsl(56, 99%, 32%);
  --color-yellow-light: hsl(56, 99%, 82%);

  //BLACK COLOR
  --color-black: hsl(0, 0%, 15%);
  --color-black-light: hsl(0, 0%, 22%);

  //RED COLOR
  --color-red: hsl(359, 77%, 56%);

  //GRID GAP
  --grid-column-gap: clamp(2rem, 6vw, 8rem);
  --grid-row-gap: 4rem;

  //GRID
  --two-col-layout: 2;
  --three-col-layout: 3;

  @media only screen and (max-width: 56.25em) {
    --two-col-layout: 1;
  }
  @media only screen and (max-width: 59em) {
    --three-col-layout: 2;
  }
  @media only screen and (max-width: 37.5em) {
    --three-col-layout: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
  overflow-y: scroll;
}

.container {
  max-width: clamp(50rem, 85vw, 114rem);
  padding: 0 2.4rem;
  margin: 0 auto;
}

section:nth-child(odd) {
  background-color: var(--color-black-light);
}

section:nth-child(even) {
  background-color: var(--color-black);
}
