.section-coaches {
  background-color: var(--color-black);
}

.coaches-box {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(unquote('max(25rem, calc(100% / 4))'), 1fr)
  );
  column-gap: var(--grid-column-gap);
  row-gap: var(--grid-row-gap);
}

.c-card {
  position: relative;

  &__img {
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    border-left: 2px solid var(--color-yellow);
  }

  & .overlay {
    position: absolute;
    top: 0%;
    right: 0;
    color: #fff;
    width: 0%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(43, 43, 43, 0.9);
    transition: width 0.4s;

    * {
      padding-bottom: 1rem;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      to right,
      var(--color-yellow),
      var(--color-yellow-dark)
    );
    color: #000;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    width: 60%;
    padding: 0.5rem 1rem;

    & .c-name {
      color: #e5383b;
      text-transform: uppercase;
      font-weight: 700;
    }

    & .c-title {
      text-transform: capitalize;
    }
  }
  &:hover .overlay {
    width: 20%;
  }

  &:hover .c-card__img {
    filter: brightness(0.8);
  }
}
