.header {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  z-index: 100;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.2rem 0;

  & ul {
    display: flex;
    text-transform: capitalize;
    font-size: 1.7rem;
    list-style: none;
    font-weight: 700;

    @media only screen and (max-width: 50em) {
      display: none;
    }

    & li {
      padding-left: 2.8rem;
      & a {
        text-decoration: none;
        color: #fff;
        padding: 1.8rem 0;
        border-bottom: 2px solid transparent;
        transition: border 0.5s;

        &:hover {
          border-bottom: 2px solid var(--color-yellow);
        }
      }
    }
  }

  & .logo {
    font-size: 2.5rem;
    font-weight: 700;
  }

  & .nav-icon {
    display: none;
    border: 1px solid #fff;

    @media only screen and (max-width: 50em) {
      display: block;
    }
  }
}
