.section-review {
  padding: clamp(4rem, 10vw, 12rem) 0rem;
}

.review-box {
  display: grid;
  grid-template-columns: repeat(
    var(--two-col-layout),
    minmax(min-content, 1fr)
  );
  column-gap: var(--grid-column-gap);
  row-gap: var(--grid-row-gap);
}

.review-card {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    max-width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  &__content {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

    & .text {
      font-style: italic;
    }

    & .name {
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      padding-top: 1.5rem;
    }
  }

  &__content::before {
    content: '\201F';
    display: block;
    font-size: 12rem;
    color: rgba(0, 0, 0, 0.8);

    position: absolute;
    top: -7rem;
    left: -1rem;
  }
}
